<div>
  <form [formGroup]="form2">
    <mat-form-field appearance="fill">
      <mat-label for="departmentName">Department</mat-label>
      <input matInput formControlName="departmentName" name="departmentName" type="text">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="role">Role</mat-label>
      <input matInput formControlName="role" name="role" type="text">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="turnover">Turnover</mat-label>
      <input matInput formControlName="turnover" name="turnover" type="number">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="productionQuantity">Production Quantity</mat-label>
      <input matInput formControlName="productionQuantity" name="productionQuantity" type="number">
    </mat-form-field>
  </form>
</div>
