<div>
  <form [formGroup]="parentForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="age">Age</mat-label>
      <input matInput formControlName="age" type="number">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Education</mat-label>
      <input matInput formControlName="education" type="text">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Percentage</mat-label>
      <input matInput formControlName="percentage" type="number">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Production Made</mat-label>
      <input matInput formControlName="productionMade" type="number">
    </mat-form-field>
  </form>
  <app-department-component></app-department-component>
  <button mat-button type="submit" style="width: min-content;" (click)="submit()">Submit</button>
</div>
