/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

mat-form-field{
  width: auto;
}
div {
  display: flex;
  flex-direction: column;
}

